@use "../../styles/variables" as *;


.aboutSection {
  padding: 120px 0;
  .layout {
    display: flex;
    gap: 24px;

    .left {
      flex: 0 0 60%;
    }

    .right {
      width: 100%;
      height: 300px;
      background-color: $panel;
      border: 1px solid $dark-gray;
    }
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .left,
  .right {
    flex: 1 1 100%;
  }
}