@use "../../styles/variables" as *;

.header {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 9999999;
    top: 0;
    background-color: $bg;

    .right-col {
        display: flex;
        align-items: center;

        .resume-button {
            color: $accent;
            background-color: transparent;
            border: 1px solid $accent;
            border-radius: 6px;
            padding: 0.75rem 1rem;
            line-height: 1;
            text-decoration: none;
            margin-left: 15px;
            font-size: 12px;
        }
    }
}