@use "../../styles/variables" as *;

.layout {
    
    position: relative;
    display: flex;
    align-items: baseline;
    font-size: 25px;
    color: $text;
    font-weight: 700;
    margin-bottom: 20px;

    span {
        display: inline-block;
        margin-right: 6px;
        color: $accent;
        font-size: 16px;
    }


    &::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: $border;
    }
}