@use "../../styles/variables" as *;

.contact {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 54px;
    margin-bottom: 18px;
}

.text {
    max-width: 560px;
    color: $muted;
}

.button {
    width: fit-content;
    margin-top: 40px;
    padding: 18px 32px;
    border: 1px solid $accent;
    border-radius: 8px;
    color: $accent;
    transition: .3s;

    &:hover {
        transform: translateY(-4px);
        background: rgba(100, 255, 218, .06);
    }
}